* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 1.8em;
}

a {
    text-decoration: none;
    color: rgb(190,193,199);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: rgb(190,193,199);
    margin: 0.8rem 0;
}


.header {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 1rem 12rem 9rem;
    gap: 8rem;
}


.sign-up {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 600;
    color: #f9faf8;
    padding: 0.4rem 2rem;
    border-radius: 0.6rem;
}

.content {
    display: flex;
    gap: 4rem;
}

.pokemon-logo {
    width: auto;
    height: 180px;
}
